In [10]:
import os  
import rdata
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
 
%matplotlib inline
 
file_path = r'F:\car regresstion analysis\car_ads_fp.RData'
 
if os.path.exists(file_path):
    parsed = rdata.parser.parse_file(file_path)
    
    # Convert the parsed data to a Python-readable format
    converted = rdata.conversion.convert(parsed)
    
    # Extract the specific dataset (assuming it's named 'carAd' in the RDATA file)
    if 'carAd' in converted:
        raw_data = converted['carAd']
        
        # Convert to a DataFrame if necessary
        if not isinstance(raw_data, pd.DataFrame):
            raw_data = pd.DataFrame(raw_data)
        
        # Now you can work with raw_data
        print("Entries in data: {}".format(raw_data['Maker'].count()))
        raw_data = raw_data.drop_duplicates()
        print("Entries after removing duplicates: {}".format(raw_data['Maker'].count()))
    else:
        print("The dataset 'carAd' was not found in the RDATA file.")
else:
    print(f"File not found: {file_path}")

c:\Python310\lib\site-packages\rdata\conversion\_conversion.py:294: UserWarning: Unknown encoding. Assumed ASCII.
  warnings.warn("Unknown encoding. Assumed ASCII.")  # noqa: B028

Entries in data: 268255
Entries after removing duplicates: 268255

In [14]:
top_colors = ['Black', 'Silver', 'Blue', 'Grey', 'White', 'Red']
filtered_data = raw_data[raw_data['Color'].isin(top_colors)]
print(filtered_data.head())

     Maker Genmodel Genmodel_ID   Adv_ID  Adv_year  Adv_month   Color  \
1  Bentley   Arnage        10_1  10_1$$1    2018.0        4.0  Silver
2  Bentley   Arnage        10_1  10_1$$2    2018.0        6.0    Grey
3  Bentley   Arnage        10_1  10_1$$3    2017.0       11.0    Blue
5  Bentley   Arnage        10_1  10_1$$5    2017.0       11.0    Grey
6  Bentley   Arnage        10_1  10_1$$6    2017.0       12.0    Blue

   Reg_year Bodytype Runned_Miles Engin_size    Gearbox Fuel_type  Price  \
1    2000.0   Saloon        60000       6.8L  Automatic    Petrol  21500
2    2002.0   Saloon        44000       6.8L  Automatic    Petrol  28750
3    2002.0   Saloon        55000       6.8L  Automatic    Petrol  29999
5    2003.0   Saloon        61652       6.8L  Automatic    Petrol  26555
6    2002.0   Saloon        55000       6.8L  Automatic    Petrol  24950

   Seat_num  Door_num
1       5.0       4.0
2       5.0       4.0
3       5.0       4.0
5       5.0       4.0
6       5.0       4.0

In [15]:
print(f"Number of entries after filtering: {filtered_data.shape[0]}")

Number of entries after filtering: 225276

In [18]:
raw_data['Color'].value_counts().head(6)

Color
Black     48751
Silver    40214
Blue      38376
Grey      37678
White     34270
Red       25987
Name: count, dtype: int64

In [19]:
##Now that we have the relevant data, let’s start the cleaning process.Let’s take a look at the data first
raw_data.head()

,Maker,Genmodel,Genmodel_ID,Adv_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,Engin_size,Gearbox,Fuel_type,Price,Seat_num,Door_num
1,Bentley,Arnage,10_1,10_1$$1,2018.0,4.0,Silver,2000.0,Saloon,60000,6.8L,Automatic,Petrol,21500,5.0,4.0
2,Bentley,Arnage,10_1,10_1$$2,2018.0,6.0,Grey,2002.0,Saloon,44000,6.8L,Automatic,Petrol,28750,5.0,4.0
3,Bentley,Arnage,10_1,10_1$$3,2017.0,11.0,Blue,2002.0,Saloon,55000,6.8L,Automatic,Petrol,29999,5.0,4.0
4,Bentley,Arnage,10_1,10_1$$4,2018.0,4.0,Green,2003.0,Saloon,14000,6.8L,Automatic,Petrol,34948,5.0,4.0
5,Bentley,Arnage,10_1,10_1$$5,2017.0,11.0,Grey,2003.0,Saloon,61652,6.8L,Automatic,Petrol,26555,5.0,4.0

progressively narrowing down my dataset by applying multiple conditions:

Filter by Color: Keep only rows with specific colors.
Filter by Fuel Type: Keep only rows with specific fuel types.
Filter by Body Type: Keep only rows with specific body types.
Filter by Model: Keep only rows with specific models.

In [ ]:
d1 = raw_data[raw_data['Color'].isin(['Black','Silver','Blue','Grey','White','Red'])]
d2 = d1[d1['Fuel_type'].isin(['Petrol','Diesel'])]
d3 = d2[d2['Bodytype'].isin(['SUV','Pickup'])]
d4 = d3[d3['Genmodel'].isin(['L200','Q3', 'CX-5','XC90'])]
raw_data = d4

,Maker,Genmodel,Genmodel_ID,Adv_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,Engin_size,Gearbox,Fuel_type,Price,Seat_num,Door_num
103650,Mazda,CX-5,57_7,57_7$$1,2018.0,7.0,Blue,2013.0,SUV,106980,2.2L,Automatic,Diesel,10500,5.0,5.0
103651,Mazda,CX-5,57_7,57_7$$2,2018.0,8.0,Blue,2015.0,SUV,29500,2.2L,Manual,Diesel,13995,5.0,5.0
103652,Mazda,CX-5,57_7,57_7$$3,2018.0,7.0,Black,2016.0,SUV,11388,2.2L,Automatic,Diesel,20995,5.0,5.0
103653,Mazda,CX-5,57_7,57_7$$4,2018.0,2.0,White,2017.0,SUV,5472,2.2L,Manual,Diesel,23900,5.0,5.0
103654,Mazda,CX-5,57_7,57_7$$5,2018.0,5.0,White,2017.0,SUV,4500,2.2L,Automatic,Diesel,28990,5.0,5.0

In [22]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3391 entries, 103650 to 264902
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Maker         3391 non-null   string
 1   Genmodel      3391 non-null   string
 2   Genmodel_ID   3391 non-null   string
 3   Adv_ID        3391 non-null   string
 4   Adv_year      3391 non-null   float64
 5   Adv_month     3391 non-null   float64
 6   Color         3391 non-null   object
 7   Reg_year      3391 non-null   float64
 8   Bodytype      3391 non-null   object
 9   Runned_Miles  3391 non-null   object
 10  Engin_size    3387 non-null   object
 11  Gearbox       3391 non-null   object
 12  Fuel_type     3391 non-null   object
 13  Price         3391 non-null   string
 14  Seat_num      3278 non-null   float64
 15  Door_num      3375 non-null   float64
dtypes: float64(5), object(6), string(5)
memory usage: 450.4+ KB

Now that we have the relevant data, let’s start the cleaning process.
Let’s take a look at the data first

In [23]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3391 entries, 103650 to 264902
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Maker         3391 non-null   string
 1   Genmodel      3391 non-null   string
 2   Genmodel_ID   3391 non-null   string
 3   Adv_ID        3391 non-null   string
 4   Adv_year      3391 non-null   float64
 5   Adv_month     3391 non-null   float64
 6   Color         3391 non-null   object
 7   Reg_year      3391 non-null   float64
 8   Bodytype      3391 non-null   object
 9   Runned_Miles  3391 non-null   object
 10  Engin_size    3387 non-null   object
 11  Gearbox       3391 non-null   object
 12  Fuel_type     3391 non-null   object
 13  Price         3391 non-null   string
 14  Seat_num      3278 non-null   float64
 15  Door_num      3375 non-null   float64
dtypes: float64(5), object(6), string(5)
memory usage: 450.4+ KB

Cleaning Data It can be observed that some attributes are not in correct format such as
year, month etc.
Let’s transform such attributes to the correct format

In [24]:
def make_interger(x):
    if None :
     return
    return int(x)

IndentationError: expected an indented block after function definition on line 1 (3390624310.py, line 2)